h2 {
  margin-bottom: 16px;
}

.Joined_mission_container {
  border: 1px solid #dee2e6;
  width: 50vh;
  height: 40vh;
}

.list_mission {
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}

.rocketReserved {
  width: 100%;
  padding: 10px 12px 22px;
  border-bottom: 1px solid #dee2e6;
}
